---
layout: default
---

<body>
	<br>
	<h1 class="Fancy-AI-Lab">SCNU Fancy Lab for AI Research (FLAIR)</h1>
    <p>Welcome to the SCNU Fancy Lab for AI Research (FLAIR) website!</p>
    <p>We are from School of Artificial Intelligence, South China Normal University. We dedicate to researching and developing cutting-edge artificial intelligence technologies.</p>
    <h2>About me</h2>
    <p>I am an Associate Professor at School of Artificial Intelligence, South China Normal University. I obtained my Ph.D. degree of Computer Science from School of Informatics and Computing, Indiana University. My Ph.D. advisor was <a href="https://luddy.indiana.edu/contact/profile/?David_Crandall" target="_blank">Prof. David J. Crandall</a>.</p>
	<p>I work in computer vision, machine learning and natural language understanding, where the areas in AI concerned with automatically perceiving the world from human perspectives. More generally, I am interested and actively involved in solving problems by modeling and learning from large amounts of unstructured data such as images and texts, with a large number of agents and distributed devices.</p>
	<h2>News</h2>
	<ul>
	{% for news in site.data.news %}
		<li>
			<p>{{ news.date | date: "%B %-d, %Y" }} &nbsp &nbsp {{ news.content }}</p>
		</li>
	{% endfor %}
	</ul>
</body>
</html>
