---
layout: default
---

<body>
	<br>
	<h1 class="Fancy-AI-Lab">Fancy  AI  Lab</h1>
    <p>Welcome to the Fancy AI Lab website!</p>
    <p>We are dedicated to researching and developing cutting-edge artificial intelligence technologies.</p>
    <h2>About me</h2>
    <p>I am an Associate Professor at School of Artificial Intelligence, South China Normal University. I obtained my Ph.D. degree of Computer Science from School of Informatics and Computing, Indiana University. My research topics include first-person videos, image captioning, video question answering, federated learning and time series analysis.</p>
	<p>I work in computer vision, machine learning and natural language understanding, where the areas in AI concerned with automatically perceiving the world from human perspectives. More generally, I am interested and actively involved in solving problems by modeling and learning from large amounts of unstructured data such as images and texts, with a large number of agents and distributed devices.</p>
	<h2>News</h2>
</body>
</html>

